In [5]:
import pandas as pd
import numpy as np

In [62]:
df = pd.read_csv(r"C:\Users\Акмира\OneDrive\Документы\GitHub\ICT_2022\csv_to_clean.csv") #link
print(df)

            PID  ST_NUM     ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH   SQ_M
0   100001000.0   104.0      PUTNAM            Y            3        1    100
1   100002000.0   197.0   LEXINGTON            N            3      1.5     --
2   100003000.0     NaN   LEXINGTON            N          NaN        1     85
3   100004000.0   201.0    BERKELEY           12            1      NaN     70
4           NaN   203.0    BERKELEY            Y            3        2    160
5   100006000.0   207.0    BERKELEY            Y          NaN        1  80000
6   100007000.0     NaN  WASHINGTON          NaN            2   HURLEY     95
7   100008000.0   213.0     TREMONT            Y            1        1    NaN
8   100009000.0   215.0     TREMONT            Y           na        2    180
9   100009000.0   215.0     TREMONT            Y           na        2    180
10  100009000.0   215.0     TREMONT            Y           na        2    180
11  100002000.0   197.0   LEXINGTON            N            3      1.5     --

In [7]:
print(df.isnull())

      PID  ST_NUM  ST_NAME  OWN_OCCUPIED  NUM_BEDROOMS  NUM_BATH   SQ_M
0   False   False    False         False         False     False  False
1   False   False    False         False         False     False  False
2   False    True    False         False          True     False  False
3   False   False    False         False         False      True  False
4    True   False    False         False         False     False  False
5   False   False    False         False          True     False  False
6   False    True    False          True         False     False  False
7   False   False    False         False         False     False   True
8   False   False    False         False         False     False  False
9   False   False    False         False         False     False  False
10  False   False    False         False         False     False  False
11  False   False    False         False         False     False  False

In [18]:
missing_values = ['na', '--']
df = pd.read_csv(r"C:\Users\Акмира\OneDrive\Документы\GitHub\ICT_2022\csv_to_clean.csv",
    na_values=missing_values)

print(df) 
print(df.isnull().sum().sum())

            PID  ST_NUM     ST_NAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH  \
0   100001000.0   104.0      PUTNAM            Y           3.0        1
1   100002000.0   197.0   LEXINGTON            N           3.0      1.5
2   100003000.0     NaN   LEXINGTON            N           NaN        1
3   100004000.0   201.0    BERKELEY           12           1.0      NaN
4           NaN   203.0    BERKELEY            Y           3.0        2
5   100006000.0   207.0    BERKELEY            Y           NaN        1
6   100007000.0     NaN  WASHINGTON          NaN           2.0   HURLEY
7   100008000.0   213.0     TREMONT            Y           1.0        1
8   100009000.0   215.0     TREMONT            Y           NaN        2
9   100009000.0   215.0     TREMONT            Y           NaN        2
10  100009000.0   215.0     TREMONT            Y           NaN        2
11  100002000.0   197.0   LEXINGTON            N           3.0      1.5

       SQ_M
0     100.0
1       NaN
2      85.0
3      70.0
4     160.0
5   80000.0
6      95.0
7       NaN
8     180.0
9     180.0
10    180.0
11      NaN
13

In [24]:
for index, lines in df.iterrows():
    try:
        a = int(lines['OWN_OCCUPIED'])
        print(a)
        df.loc[index, 'OWN_OCCUPIED'] = np.nan
    except:
        pass
print(df)

           PID  ST_NUM ST_NAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH   SQ_M
0  100001000.0   104.0  PUTNAM            Y           3.0        1  100.0

In [3]:
try:
    prit('hi')
    #print('hi')
except:
    print('error')

error

In [65]:
df = pd.read_csv(r"C:\Users\Акмира\OneDrive\Документы\GitHub\ICT_2022\Apple_price_to_clean.csv")
print(df)

            Date        Open        High         Low       Close   Adj Close  \
0     2015-08-25   27.777500           -         NaN   25.934999       ERROR
1     2015-08-26   26.772499   27.472500   26.262501   27.422501   25.039267
2     2015-08-27   28.057501   28.309999   27.504999   28.230000   25.776581
3     2015-08-28   28.042500   28.327499   27.885000   28.322500   25.861042
4     2015-08-31   28.007500   28.632500   28.000000   28.190001   25.740063
...          ...         ...         ...         ...         ...         ...
1769  2022-08-18  173.750000  174.899994  173.119995  174.149994  174.149994
1770  2022-08-19  173.029999  173.740005  171.309998  171.520004  171.520004
1771  2022-08-22  169.690002  169.860001  167.139999  167.570007  167.570007
1772  2022-08-23  167.080002  168.710007  166.649994  167.229996  167.229996
1773  2022-08-24  167.320007  168.110001  166.250000  167.529999  167.529999

         Volume
0     414406400
1     387098400
2     338464400
3         ERROR
4     224917200
...         ...
1769   62290100
1770   70211500
1771   69026800
1772   54147100
1773   53766800

[1774 rows x 7 columns]

In [9]:
print(df.isnull())

       Date   Open   High    Low  Close  Adj Close  Volume
0     False  False  False   True  False      False   False
1     False  False  False  False  False      False   False
2     False  False  False  False  False      False   False
3     False  False  False  False  False      False   False
4     False  False  False  False  False      False   False
...     ...    ...    ...    ...    ...        ...     ...
1769  False  False  False  False  False      False   False
1770  False  False  False  False  False      False   False
1771  False  False  False  False  False      False   False
1772  False  False  False  False  False      False   False
1773  False  False  False  False  False      False   False

[1774 rows x 7 columns]

In [76]:
# my turn
missing_values = ['-', 'ERROR']
df = pd.read_csv(r"C:\Users\Акмира\OneDrive\Документы\GitHub\ICT_2022\Apple_price_to_clean.csv",
    na_values=missing_values)

print(df)

            Date        Open        High         Low       Close   Adj Close  \
0     2015-08-25   27.777500         NaN         NaN   25.934999         NaN
1     2015-08-26   26.772499   27.472500   26.262501   27.422501   25.039267
2     2015-08-27   28.057501   28.309999   27.504999   28.230000   25.776581
3     2015-08-28   28.042500   28.327499   27.885000   28.322500   25.861042
4     2015-08-31   28.007500   28.632500   28.000000   28.190001   25.740063
...          ...         ...         ...         ...         ...         ...
1769  2022-08-18  173.750000  174.899994  173.119995  174.149994  174.149994
1770  2022-08-19  173.029999  173.740005  171.309998  171.520004  171.520004
1771  2022-08-22  169.690002  169.860001  167.139999  167.570007  167.570007
1772  2022-08-23  167.080002  168.710007  166.649994  167.229996  167.229996
1773  2022-08-24  167.320007  168.110001  166.250000  167.529999  167.529999

           Volume
0     414406400.0
1     387098400.0
2     338464400.0
3             NaN
4     224917200.0
...           ...
1769   62290100.0
1770   70211500.0
1771   69026800.0
1772   54147100.0
1773   53766800.0

[1774 rows x 7 columns]

In [77]:
for index, lines in df.iterrows():
    try:
        a = int(lines['Date'])
        print(a)
        df.loc[index, 'Date'] = np.nan
    except:
        pass
print(df)

20
            Date        Open        High         Low       Close   Adj Close  \
0     2015-08-25   27.777500         NaN         NaN   25.934999         NaN
1     2015-08-26   26.772499   27.472500   26.262501   27.422501   25.039267
2     2015-08-27   28.057501   28.309999   27.504999   28.230000   25.776581
3     2015-08-28   28.042500   28.327499   27.885000   28.322500   25.861042
4     2015-08-31   28.007500   28.632500   28.000000   28.190001   25.740063
...          ...         ...         ...         ...         ...         ...
1769  2022-08-18  173.750000  174.899994  173.119995  174.149994  174.149994
1770  2022-08-19  173.029999  173.740005  171.309998  171.520004  171.520004
1771  2022-08-22  169.690002  169.860001  167.139999  167.570007  167.570007
1772  2022-08-23  167.080002  168.710007  166.649994  167.229996  167.229996
1773  2022-08-24  167.320007  168.110001  166.250000  167.529999  167.529999

           Volume
0     414406400.0
1     387098400.0
2     338464400.0
3             NaN
4     224917200.0
...           ...
1769   62290100.0
1770   70211500.0
1771   69026800.0
1772   54147100.0
1773   53766800.0

[1774 rows x 7 columns]

In [78]:
print(df.isnull().sum())
print(df.isnull().sum().sum())

Date         2
Open         1
High         2
Low          2
Close        3
Adj Close    1
Volume       2
dtype: int64
13

In [79]:
df.fillna(method = 'ffill', inplace = True)
df.fillna(0, inplace  =True)
print(df)

            Date        Open        High         Low       Close   Adj Close  \
0     2015-08-25   27.777500    0.000000    0.000000   25.934999    0.000000
1     2015-08-26   26.772499   27.472500   26.262501   27.422501   25.039267
2     2015-08-27   28.057501   28.309999   27.504999   28.230000   25.776581
3     2015-08-28   28.042500   28.327499   27.885000   28.322500   25.861042
4     2015-08-31   28.007500   28.632500   28.000000   28.190001   25.740063
...          ...         ...         ...         ...         ...         ...
1769  2022-08-18  173.750000  174.899994  173.119995  174.149994  174.149994
1770  2022-08-19  173.029999  173.740005  171.309998  171.520004  171.520004
1771  2022-08-22  169.690002  169.860001  167.139999  167.570007  167.570007
1772  2022-08-23  167.080002  168.710007  166.649994  167.229996  167.229996
1773  2022-08-24  167.320007  168.110001  166.250000  167.529999  167.529999

           Volume
0     414406400.0
1     387098400.0
2     338464400.0
3     338464400.0
4     224917200.0
...           ...
1769   62290100.0
1770   70211500.0
1771   69026800.0
1772   54147100.0
1773   53766800.0

[1774 rows x 7 columns]

In [83]:
df.drop_duplicates(inplace=True)
df = df[df['High'] > 0]
df = df[df['Low'] < 200]
df = df[df['Close'] > 0]
print(df.describe())

              Open         High          Low        Close    Adj Close  \
count  1757.000000  1757.000000  1757.000000  1757.000000  1757.000000
mean     73.475951    74.052536    72.436133    73.283018    71.800773
std      48.990573    48.550830    47.322319    47.963681    48.441343
min      22.500000    22.917500    22.367500    22.584999    20.949606
25%      36.435001    36.790001    36.235001    36.570000    34.488281
50%      50.049999    50.392502    49.610001    50.119999    48.684380
75%     120.930000   122.580002   119.160004   120.959999   119.535591
max     500.099998   182.940002   179.119995   182.009995   181.259918

             Volume
count  1.757000e+03
mean   1.329355e+08
std    2.771812e+08
min    4.100000e+07
25%    8.581240e+07
50%    1.093488e+08
75%    1.481995e+08
max    1.146192e+10

In [82]:
# print(df.describe())

df.plot(x = 'Date', y = 'Open')

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [74]:
# import matplotlib
# df.plot(y = 'High')

ModuleNotFoundError: No module named 'matplotlib'

In [26]:
missing_values = ['na', '--']

# print(df)
df.dropna(inplace=True, subset = 'ST_NUM')
print(df)

           PID  ST_NUM ST_NAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH   SQ_M
0  100001000.0   104.0  PUTNAM            Y           3.0        1  100.0

In [27]:
df.loc[3, 'NUM_BATH'] = 1
print(df)

           PID  ST_NUM ST_NAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH   SQ_M
0  100001000.0   104.0  PUTNAM            Y           3.0        1  100.0
3          NaN     NaN     NaN          NaN           NaN        1    NaN

In [42]:
df.fillna(0, inplace=True)
print(df)
print(df['NUM_BEDROOMS'].mean())
# df['NUM_BEDROOMS'].fillna(df['NUM_BEDROOMS'].mean(), inplace = True)
# print(df)

            PID  ST_NUM     ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH   SQ_M
0   100001000.0   104.0      PUTNAM            Y            3        1    100
1   100002000.0   197.0   LEXINGTON            N            3      1.5     --
2   100003000.0     0.0   LEXINGTON            N            0        1     85
3   100004000.0   201.0    BERKELEY           12            1        0     70
4           0.0   203.0    BERKELEY            Y            3        2    160
5   100006000.0   207.0    BERKELEY            Y            0        1  80000
6   100007000.0     0.0  WASHINGTON            0            2   HURLEY     95
7   100008000.0   213.0     TREMONT            Y            1        1      0
8   100009000.0   215.0     TREMONT            Y           na        2    180
9   100009000.0   215.0     TREMONT            Y           na        2    180
10  100009000.0   215.0     TREMONT            Y           na        2    180
11  100002000.0   197.0   LEXINGTON            N            3      1.5     --

TypeError: can only concatenate str (not "int") to str

In [36]:
df['NUM_BEDROOMS'].fillna(method = 'bfill', inplace = True)

In [37]:
print(df)

            PID  ST_NUM     ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH   SQ_M
0   100001000.0   104.0      PUTNAM            Y            3        1    100
1   100002000.0   197.0   LEXINGTON            N            3      1.5     --
2   100003000.0     NaN   LEXINGTON            N            1        1     85
3   100004000.0   201.0    BERKELEY           12            1      NaN     70
4           NaN   203.0    BERKELEY            Y            3        2    160
5   100006000.0   207.0    BERKELEY            Y            2        1  80000
6   100007000.0     NaN  WASHINGTON          NaN            2   HURLEY     95
7   100008000.0   213.0     TREMONT            Y            1        1    NaN
8   100009000.0   215.0     TREMONT            Y           na        2    180
9   100009000.0   215.0     TREMONT            Y           na        2    180
10  100009000.0   215.0     TREMONT            Y           na        2    180
11  100002000.0   197.0   LEXINGTON            N            3      1.5     --

In [63]:
df.drop(['PID'], axis = 1)
print(df)

            PID  ST_NUM     ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH   SQ_M
0   100001000.0   104.0      PUTNAM            Y            3        1    100
1   100002000.0   197.0   LEXINGTON            N            3      1.5     --
2   100003000.0     NaN   LEXINGTON            N          NaN        1     85
3   100004000.0   201.0    BERKELEY           12            1      NaN     70
4           NaN   203.0    BERKELEY            Y            3        2    160
5   100006000.0   207.0    BERKELEY            Y          NaN        1  80000
6   100007000.0     NaN  WASHINGTON          NaN            2   HURLEY     95
7   100008000.0   213.0     TREMONT            Y            1        1    NaN
8   100009000.0   215.0     TREMONT            Y           na        2    180
9   100009000.0   215.0     TREMONT            Y           na        2    180
10  100009000.0   215.0     TREMONT            Y           na        2    180
11  100002000.0   197.0   LEXINGTON            N            3      1.5     --

In [64]:
df.drop_duplicates(inplace = True)
print(df)

           PID  ST_NUM     ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH   SQ_M
0  100001000.0   104.0      PUTNAM            Y            3        1    100
1  100002000.0   197.0   LEXINGTON            N            3      1.5     --
2  100003000.0     NaN   LEXINGTON            N          NaN        1     85
3  100004000.0   201.0    BERKELEY           12            1      NaN     70
4          NaN   203.0    BERKELEY            Y            3        2    160
5  100006000.0   207.0    BERKELEY            Y          NaN        1  80000
6  100007000.0     NaN  WASHINGTON          NaN            2   HURLEY     95
7  100008000.0   213.0     TREMONT            Y            1        1    NaN
8  100009000.0   215.0     TREMONT            Y           na        2    180