In [5]:
import requests
import pandas as pd
import io

url = "https://query1.finance.yahoo.com/v7/finance/download/MRNA?period1=1633476122&period2=1665012122&interval=1d&events=history&includeAdjustedClose=true"
headers = {'user-agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/105.0.0.0 Safari/537.36'}

resp = requests.get(url, headers = headers)
df = pd.read_csv(io.StringIO(resp.content.decode("utf-8")))
print(df)

           Date        Open        High         Low       Close   Adj Close  \
0    2021-10-05  331.000000  338.032990  327.200012  332.109985  332.109985
1    2021-10-06  318.709991  325.679993  300.619995  302.420013  302.420013
2    2021-10-07  295.459991  317.350006  293.579987  309.359985  309.359985
3    2021-10-08  310.799988  314.049988  297.540009  304.910004  304.910004
4    2021-10-11  299.320007  314.109985  298.100006  305.100006  305.100006
..          ...         ...         ...         ...         ...         ...
248  2022-09-29  119.900002  120.580002  115.029999  118.070000  118.070000
249  2022-09-30  118.440002  122.580002  118.080002  118.250000  118.250000
250  2022-10-03  119.320000  122.398003  115.410004  120.989998  120.989998
251  2022-10-04  123.669998  126.410004  123.500000  125.669998  125.669998
252  2022-10-05  122.400002  126.739998  121.610001  125.620003  125.620003

       Volume
0    11637500
1    17457400
2    15791000
3    10631800
4     7625800
..        ...
248   4755200
249   3854200
250   3812200
251   3464300
252   2275200

[253 rows x 7 columns]

In [7]:
import requests
import pandas as pd
import io

company = ['MRNA', 'AAPL', 'PEP']
for i in company:
    url = "https://query1.finance.yahoo.com/v7/finance/download/"+i+"?period1=1633476122&period2=1665012122&interval=1d&events=history&includeAdjustedClose=true"
    headers = {'user-agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/105.0.0.0 Safari/537.36'}

    resp = requests.get(url, headers = headers)
    df = pd.read_csv(io.StringIO(resp.content.decode("utf-8")))
    print(df)

           Date        Open        High         Low       Close   Adj Close  \
0    2021-10-05  331.000000  338.032990  327.200012  332.109985  332.109985
1    2021-10-06  318.709991  325.679993  300.619995  302.420013  302.420013
2    2021-10-07  295.459991  317.350006  293.579987  309.359985  309.359985
3    2021-10-08  310.799988  314.049988  297.540009  304.910004  304.910004
4    2021-10-11  299.320007  314.109985  298.100006  305.100006  305.100006
..          ...         ...         ...         ...         ...         ...
248  2022-09-29  119.900002  120.580002  115.029999  118.070000  118.070000
249  2022-09-30  118.440002  122.580002  118.080002  118.250000  118.250000
250  2022-10-03  119.320000  122.398003  115.410004  120.989998  120.989998
251  2022-10-04  123.669998  126.410004  123.500000  125.669998  125.669998
252  2022-10-05  122.400002  126.739998  121.610001  125.620003  125.620003

       Volume
0    11637500
1    17457400
2    15791000
3    10631800
4     7625800
..        ...
248   4755200
249   3854200
250   3812200
251   3464300
252   2275200

[253 rows x 7 columns]
           Date        Open        High         Low       Close   Adj Close  \
0    2021-10-05  139.490005  142.240005  139.360001  141.110001  140.323685
1    2021-10-06  139.470001  142.149994  138.369995  142.000000  141.208740
2    2021-10-07  143.059998  144.220001  142.720001  143.289993  142.491547
3    2021-10-08  144.029999  144.179993  142.559998  142.899994  142.103714
4    2021-10-11  142.270004  144.809998  141.809998  142.809998  142.014206
..          ...         ...         ...         ...         ...         ...
248  2022-09-29  146.100006  146.720001  140.679993  142.479996  142.479996
249  2022-09-30  141.279999  143.100006  138.000000  138.199997  138.199997
250  2022-10-03  138.210007  143.070007  137.690002  142.449997  142.449997
251  2022-10-04  145.029999  146.220001  144.259995  146.100006  146.100006
252  2022-10-05  144.070007  147.380005  143.009995  146.399994  146.399994

        Volume
0     80861100
1     83221100
2     61732700
3     58773200
4     64452200
..         ...
248  128138200
249  124705400
250  114311700
251   87830100
252   79326600

[253 rows x 7 columns]
           Date        Open        High         Low       Close   Adj Close  \
0    2021-10-05  151.360001  152.389999  150.070007  151.089996  147.076996
1    2021-10-06  150.839996  155.160004  149.960007  154.960007  150.844208
2    2021-10-07  155.520004  157.750000  155.520004  156.389999  152.236206
3    2021-10-08  156.570007  156.710007  155.490005  156.029999  151.885788
4    2021-10-11  156.389999  157.229996  155.660004  156.240005  152.090210
..          ...         ...         ...         ...         ...         ...
248  2022-09-29  168.800003  169.139999  165.000000  166.610001  166.610001
249  2022-09-30  167.690002  168.240005  163.009995  163.259995  163.259995
250  2022-10-03  163.520004  165.690002  163.020004  165.250000  165.250000
251  2022-10-04  167.389999  168.729996  165.550003  167.110001  167.110001
252  2022-10-05  166.970001  167.089996  163.729996  166.000000  166.000000

      Volume
0    6103100
1    5499200
2    4605100
3    4186000
4    2738100
..       ...
248  5167700
249  5970900
250  5093400
251  4596800
252  3538600

[253 rows x 7 columns]

In [9]:
import requests
import pandas as pd
import io

company = ['MRNA', 'AAPL', 'PEP']
for i in company:
    url = "https://query1.finance.yahoo.com/v7/finance/download/"+i
    params = {'period1' : '1633476122', 'period2' : '1665012122', 'interval' : '1d', 'events' : 'history', 'includeAdjustedClose' : 'true'}
    headers = {'user-agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/105.0.0.0 Safari/537.36'}

    resp = requests.get(url, headers = headers, params = params)
    df = pd.read_csv(io.StringIO(resp.content.decode("utf-8")))
    print(df)

           Date        Open        High         Low       Close   Adj Close  \
0    2021-10-05  331.000000  338.032990  327.200012  332.109985  332.109985
1    2021-10-06  318.709991  325.679993  300.619995  302.420013  302.420013
2    2021-10-07  295.459991  317.350006  293.579987  309.359985  309.359985
3    2021-10-08  310.799988  314.049988  297.540009  304.910004  304.910004
4    2021-10-11  299.320007  314.109985  298.100006  305.100006  305.100006
..          ...         ...         ...         ...         ...         ...
248  2022-09-29  119.900002  120.580002  115.029999  118.070000  118.070000
249  2022-09-30  118.440002  122.580002  118.080002  118.250000  118.250000
250  2022-10-03  119.320000  122.398003  115.410004  120.989998  120.989998
251  2022-10-04  123.669998  126.410004  123.500000  125.669998  125.669998
252  2022-10-05  122.400002  126.739998  121.610001  125.620003  125.620003

       Volume
0    11637500
1    17457400
2    15791000
3    10631800
4     7625800
..        ...
248   4755200
249   3854200
250   3812200
251   3464300
252   2275200

[253 rows x 7 columns]
           Date        Open        High         Low       Close   Adj Close  \
0    2021-10-05  139.490005  142.240005  139.360001  141.110001  140.323669
1    2021-10-06  139.470001  142.149994  138.369995  142.000000  141.208725
2    2021-10-07  143.059998  144.220001  142.720001  143.289993  142.491531
3    2021-10-08  144.029999  144.179993  142.559998  142.899994  142.103699
4    2021-10-11  142.270004  144.809998  141.809998  142.809998  142.014221
..          ...         ...         ...         ...         ...         ...
248  2022-09-29  146.100006  146.720001  140.679993  142.479996  142.479996
249  2022-09-30  141.279999  143.100006  138.000000  138.199997  138.199997
250  2022-10-03  138.210007  143.070007  137.690002  142.449997  142.449997
251  2022-10-04  145.029999  146.220001  144.259995  146.100006  146.100006
252  2022-10-05  144.070007  147.380005  143.009995  146.399994  146.399994

        Volume
0     80861100
1     83221100
2     61732700
3     58773200
4     64452200
..         ...
248  128138200
249  124705400
250  114311700
251   87830100
252   79326600

[253 rows x 7 columns]
           Date        Open        High         Low       Close   Adj Close  \
0    2021-10-05  151.360001  152.389999  150.070007  151.089996  147.076996
1    2021-10-06  150.839996  155.160004  149.960007  154.960007  150.844208
2    2021-10-07  155.520004  157.750000  155.520004  156.389999  152.236206
3    2021-10-08  156.570007  156.710007  155.490005  156.029999  151.885788
4    2021-10-11  156.389999  157.229996  155.660004  156.240005  152.090210
..          ...         ...         ...         ...         ...         ...
248  2022-09-29  168.800003  169.139999  165.000000  166.610001  166.610001
249  2022-09-30  167.690002  168.240005  163.009995  163.259995  163.259995
250  2022-10-03  163.520004  165.690002  163.020004  165.250000  165.250000
251  2022-10-04  167.389999  168.729996  165.550003  167.110001  167.110001
252  2022-10-05  166.970001  167.089996  163.729996  166.000000  166.000000

      Volume
0    6103100
1    5499200
2    4605100
3    4186000
4    2738100
..       ...
248  5167700
249  5970900
250  5093400
251  4596800
252  3538600

[253 rows x 7 columns]

In [17]:
import requests
import pandas as pd
import io

company = ['MRNA', 'AAPL', 'PEP']
l = []
dataframe = pd.DataFrame()
for i in company:
    url = "https://query1.finance.yahoo.com/v7/finance/download/"+i
    params = {'period1' : '1633476122', 'period2' : '1665012122', 'interval' : '1d', 'events' : 'history', 'includeAdjustedClose' : 'true'}
    headers = {'user-agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/105.0.0.0 Safari/537.36'}

    resp = requests.get(url, headers = headers, params = params)
    df = pd.read_csv(io.StringIO(resp.content.decode("utf-8")))
    l.append(df)
print(pd.concat([i for i in l],keys = ['APPL', 'MRNA', 'PEP']))
    # dataframe.concat([df])
    # print(df)
# print(dataframe)

                Date        Open        High         Low       Close  \
APPL 0    2021-10-05  331.000000  338.032990  327.200012  332.109985
     1    2021-10-06  318.709991  325.679993  300.619995  302.420013
     2    2021-10-07  295.459991  317.350006  293.579987  309.359985
     3    2021-10-08  310.799988  314.049988  297.540009  304.910004
     4    2021-10-11  299.320007  314.109985  298.100006  305.100006
...              ...         ...         ...         ...         ...
PEP  248  2022-09-29  168.800003  169.139999  165.000000  166.610001
     249  2022-09-30  167.690002  168.240005  163.009995  163.259995
     250  2022-10-03  163.520004  165.690002  163.020004  165.250000
     251  2022-10-04  167.389999  168.729996  165.550003  167.110001
     252  2022-10-05  166.970001  167.089996  163.729996  166.000000

           Adj Close    Volume
APPL 0    332.109985  11637500
     1    302.420013  17457400
     2    309.359985  15791000
     3    304.910004  10631800
     4    305.100006   7625800
...              ...       ...
PEP  248  166.610001   5167700
     249  163.259995   5970900
     250  165.250000   5093400
     251  167.110001   4596800
     252  166.000000   3538600

[759 rows x 7 columns]