In [6]:
import pandas as pd

print("Students results")
print()
Akmira, Lyaka, Nicole, Amina, Asik, Dayana = [10, 10, 10], [10, 10, 10], [2, 5, 9], [10, 10, 10], [1, 9 , 2], [0, 1, 4]
D = {"Akmira" : Akmira, "Lyaka" : Lyaka, "Nicole" : Nicole, "Amina" : Amina, "Asik" : Asik, "Dayana" : Dayana}
df = pd.DataFrame(D)
print(df)

Students results

   Akmira  Lyaka  Nicole  Amina  Asik  Dayana
0      10     10       2     10     1       0
1      10     10       5     10     9       1
2      10     10       9     10     2       4

In [20]:
import csv
import pandas as pd
from datetime import datetime

df = pd.read_csv(r"C:\Users\Акмира\OneDrive\Документы\GitHub\ICT_2022\practice1\MRNA.csv",  parse_dates = [0])
# df['Date'] = [datetime.datetime.strptime(i, "%Y-%m-%d") for i in df['Date']]
print(df)

          Date        Open        High         Low       Close   Adj Close  \
0   2018-12-07   22.000000   22.750000   18.510000   18.600000   18.600000
1   2018-12-10   18.900000   19.438999   18.000000   18.799999   18.799999
2   2018-12-11   20.549999   20.660000   17.990000   18.010000   18.010000
3   2018-12-12   18.549999   19.480000   18.020000   18.680000   18.680000
4   2018-12-13   19.250000   19.290001   18.680000   18.760000   18.760000
..         ...         ...         ...         ...         ...         ...
939 2022-08-31  136.949997  139.880005  131.710007  132.270004  132.270004
940 2022-09-01  131.130005  139.000000  130.110001  138.949997  138.949997
941 2022-09-02  140.360001  140.929993  137.468994  138.570007  138.570007
942 2022-09-06  138.000000  138.399994  129.820007  130.080002  130.080002
943 2022-09-07  129.679993  135.100006  129.580002  134.899994  134.899994

       Volume
0    12995600
1     4233300
2     3435300
3     2590700
4     1608600
..        ...
939   4396500
940   6664800
941   5266600
942   5871400
943   3965600

[944 rows x 7 columns]